body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	background-color: #f0f0f0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-left: 20px;
}

.logo img {
	width: 50px;
	height: 50px;
}

.add-task-btn {
	margin-right: 20px;
}

.add-task-btn button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.add-task-btn button:hover {
	background-color: #3e8e41;
}

.sidebar {
	background-color: white;
	padding: 20px;
	width: 100px;
	position: fixed;
	top: 100;
	left: 0;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar li {
	margin-bottom: 10px;
}

.sidebar a {
	text-decoration: none;
	color: #333;
}

.sidebar a:hover {
	color: #4CAF50;
}

.main-content {
	margin-left: 200px;
	padding: 20px;
}

#task-table {
	width: 100%;
	border-collapse: collapse;
}

#task-table th, #task-table td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
}

#task-table th {
	background-color: #f0f0f0;
}